doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/main.css')
    title= title
  body
    header
    main
    footer
    
    script(type='text/javascript'
           src='/vendor/js/jquery-2.1.4.js')
    script(type='text/javascript'
           src='/vendor/js/lodash.js')
    script(type='text/javascript'
           src='/vendor/js/q.js')
    script(type='text/javascript'
           src='/js/index.js')
    